.categories{
    float: right;
    height: 40px;
    width: 40px;
}

.categories-anchor{
    text-decoration: inherit;
    color: ivory;
}
hr{
    border: 1.5px solid black;
    background-color: black;
}